<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="Colombo Nuget" value="https://nuget.colombo.com.br/repository/nuget-hosted/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

	<config>
		<add key="NuGetPackageSourceMappingEnabled" value="false" />
	</config>

</configuration>
